<!DOCTYPE html>
<html>
<body>
<div align="left">  
<h1>Python Notes for Beginner</h1>
 </div>
    <div align="right">     
    <h4>By: Sumerendra saurabh</h4>
</div>
</body>
</html>

### What is Python

##### Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

### Quick start with installation of Python,Miniconda and Jupyter.
1. Go Python page and download latest python version- https://www.python.org/downloads/ 
2. Install miniconda from miniconda website- https://docs.conda.io/en/latest/miniconda.html 
3. After installation is done, Open Miniconda and run
   - pip install jupyterlab # install jupyter lab
   - pip install notebook  # install jupyter note book
4. Once Jupyter notebook/Jupyter-lab is installed You can open your local server by using command-
   - jupyter notebook (for Notebook)
   - jupyter-lab (For Jupyter lab)

#### Detailed Video on the installation - https://youtu.be/_e7gsgiQ9Q4

### Data Types in Python
Python has the following data types built-in by default, in these categories:

##### Text Type:	str(string)
##### Numeric Types:	int, float, complex (numbers)
##### Sequence Types:	list, tuple
##### Mapping Type:	dict (Dictionary)
##### Set Types:	set, frozenset
##### Boolean Type:	bool( Returns in True and False)
##### Binary Types:	bytes, bytearray, memoryview

#### Write your first python program, detailed video below
https://www.youtube.com/watch?v=oYoJ3mcKOJQ

### Python Numbers

##### Python can do mathmatical operations

In [1]:
a = 3
print(a)

3

In [2]:
3 + 3

6

In [3]:
8 - 4

4

In [4]:
2 * 4 # Multiplication can be done using *

8

In [5]:
8 / 4

2.0

In [6]:
1/2

0.5

In [7]:
x = 2
x + 3

5

In [8]:
y = 4

In [9]:
x * 2

4

In [10]:
x/4

0.5

In [11]:
x-1

1

In [12]:
x + y

6

In [13]:
y-x

2

### print() in Python

In [14]:
print("Hello world")

Hello world

In [15]:
print(5)

5

### Comments

In [16]:
#single line comment

In [17]:
#multiline comment
#multi lines

In [18]:
"""
multiline comment
line continied
second line
"""
print('hi')

hi

### Python variables

#### variables are container which can be declared and a value can be assigned

In [19]:
a = 15 # a is variable(Container) which has assigned value of 15
b = 10
c = (a + b) # c is variable(Container) which has assigned value of (a + b)
print(c)

25

In [20]:
s = "Sample value" # s is variable where a string is stored
print(s)

Sample value

### String

#### A string in Python is a sequence of characters. It is a derived data type. Strings are immutable. This means that once defined, they cannot be changed. Many Python methods, such as replace() , join() , or split() modify strings.

#### To create any string define inside **" "** Or **' '**

In [21]:
a = 'I am learning ' # Used ' ' to define string

In [22]:
print(a)

I am learning

In [23]:
b = "Python" # Used " " to define a string

In [24]:
print('Today ' + a+ b) # You can also print multiple string together Using +

Today I am learning Python

#### Create a number as string, this will help while adding a number to string

In [25]:
a1 = str(3) 
print(a1)

3

In [26]:
type(a1)

str

In [114]:
a2 = 6
a3 = ' add to number'
print(a2 + a3) # You cannot add int and str, you need to need define number as string using str(). Shown in below cell

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
a2 = str(6)
a3 = ' add to number'
print(a2 + a3)

6 add to number

### Type() function 
#### The type() function in Python returns the data type of the object passed to it as an argument.

In [29]:
type('Hello world')

str

In [30]:
type(5)

int

In [31]:
type(5.6)

float

#### Indexing of string starts with 0 and we can also use -1 index for last element.
#### Image below explains

<img src="string_python.PNG">

In [32]:
location ="Manali is beutiful"
location[0:5]  # in given string you can slice with using index ( It exclude last elemnt in range given which is 5th here, only slice 0-4th elemnt)

'Manal'

In [33]:
location[5:-1]

'i is beutifu'

#### lower() and Upper(), changes the case of string

In [34]:
location.lower()

'manali is beutiful'

In [35]:
location.upper()

'MANALI IS BEUTIFUL'

### input() function. 

#### user input from the keyboard can be read using the input() built-in function. The input from the user is read as a string and can be assigned to a variable.

In [36]:
input()

 sam

'sam'

In [37]:
name = input('Enter the name',)
print(name)

Enter the name sam

sam

In [38]:
print('Hello '+ name)

Hello sam

In [39]:
name = input(' Whats your name?')
favourate_place = input('Enter your favroute location- ')
print(name + ' likes ' + favourate_place)

 Whats your name? sam
Enter your favroute location-  Ranchi

sam likes Ranchi

### Replace----  replace() method. The first parameter is the word to search, the second parameter specifies the new value.

In [40]:
sent = "Hello Python"
sent = sent.replace("Hello","Hi")
print(sent)

Hi Python

### Join------ The join(sequence) method joins elements and returns the combined string. The join methods combines every element of the sequence.

In [41]:
a = str(input('name')) # You can also use input function to take inputs at run
b = "Lastname"
c = "city"
sequence = (a,b,c)
details =" ".join(sequence)
print(details)

name sam

sam Lastname city

### The find() method searches for a query string and returns the character position if found. If the string is not found, it returns -1.

In [42]:
s = "Python is a great language and I love Python"

index = s.find("great")
print(index)

12

In [43]:
index = s.find("Great") # Great is not available so it will retun -1, its compares with case sensitivity
print(index)

-1

### In function

In [44]:
if 'great' in s:
    print("find function works")

find function works

### Split function() If you have a string, you can subdivide it into several strings. The string needs to have at least one separating character, which may be a space. By default the split method will use space as separator. Calling the method will return a list of all the substrings.

In [45]:
sent = "Python is a great language and I love Python"
words = sent.split()
print(words)

['Python', 'is', 'a', 'great', 'language', 'and', 'I', 'love', 'Python']

In [46]:
type(words) # split function change string to list of string

list

#### Detailed Video on the string and strings operation
https://www.youtube.com/watch?v=_wphCwiRdTQ

https://www.youtube.com/watch?v=cr80bfG4Y-c

### len() function
#### Returns the number of items in an object. When the object is a string, the len() function returns the number of characters in the string.

In [47]:
len(sent) # its a string so number characters

44

In [48]:
len(words) # its a list so number elements

9

In [49]:
# You make you logic on len()
fruits= ['apple','mango','banana','pear']
if len(fruits)== 4:
    print('All fruits recieved')
elif len(fruits)>4:
    print('More fruits recieved')
else:
    print('Waiting for fruits')

All fruits recieved

### random() , random module
#### To create random numbers with Python code you can use the random module

In [50]:
import random #import libs using import <lib name>

# Create a random floating number
print(random.random())

0.8066594357198131

In [51]:
# pick a random number between 0 and 5.
print(random.randrange(0,5))

3

In [52]:
# pick a random floating number between 5 and 10.
print(random.uniform(5,10))

8.849845621310934

In [53]:
# using len function to get output o toss( Head Or tail)
a = random.randrange(0,10)
for i in range(0,1):
    if a < 5 or a==5:
        print('head')
    else:
        print('Tail')
    a = random.randrange(0,10)
    i = i + 1

head

#### Detailed Video on the len() and random mudule
https://www.youtube.com/watch?v=dP9lUvhS-Fc

### Python List 
#### items are ordered, changeable, and allow duplicate values.
#### List items are indexed, the first item has index [0], the second item has index [1].

In [54]:
numbers = [1,2,3,4,5]
numbers[0]

1

In [55]:
numbers[4]

5

In [56]:
list1 = ['sam','john','Marie','Mohan']
list2 = ['1','2','5','6']

In [57]:
print(list1[0])
print(list2[0])
print(list1[0:2])
print(list2[2:-1])

sam
1
['sam', 'john']
['5']

#### add item to list, append() function can be used

In [58]:
list1.append('mack')
list2.append(5)

In [59]:
print(list1)
print(list2)

['sam', 'john', 'Marie', 'Mohan', 'mack']
['1', '2', '5', '6', 5]

#### update items in list

In [60]:
#update john which is at [1] index update to 'john1'
list1[1]='john1'
list1

['sam', 'john1', 'Marie', 'Mohan', 'mack']

In [61]:
# remove() funcion will remove element 
list1.remove('john1')
list1

['sam', 'Marie', 'Mohan', 'mack']

In [62]:
#remove last element from list
list1.pop()
list1

['sam', 'Marie', 'Mohan']

In [63]:
#sort() function will sort in ascending order
list1.sort()
list1

['Marie', 'Mohan', 'sam']

In [64]:
# join two list
list3= list1 + list2
list3

['Marie', 'Mohan', 'sam', '1', '2', '5', '6', 5]

### Python Dictionaries
#### dictionaries are used to store key:value pairs

In [65]:
#create a dictionary name people , you can use {} to create a dict in given below format.
people = {
    "country":"India",
    "state":"Delhi",
    "Population":50,
    "Population": 100 # to show dict dont allow any duplicates
}
people

{'country': 'India', 'state': 'Delhi', 'Population': 100}

In [66]:
#show value for given key
people["Population"]

100

#### Detailed Video on the list,string and Dictionaries
https://www.youtube.com/watch?v=_wphCwiRdTQ

# Sets
A set is an unordered collection with no duplicate elements.Set objects also support mathematical operations like union, intersection, difference.
Curly braces or the set() function can be used to create sets. 
Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary

In [67]:
set1 = {1,2,3} # dict {key:value}
print(type(set1))

<class 'set'>

In [68]:
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(fruits)                      # show that duplicates have been removed

{'banana', 'orange', 'pear', 'apple'}

In [69]:
'orange' in fruits                 # fast membership testing

True

In [70]:
'mango' in fruits

False

In [71]:
a = set('abracadabra')
b = set('alacazam')
a # unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [72]:
b

{'a', 'c', 'l', 'm', 'z'}

In [73]:
a - b                              # letters in a but not in b

{'b', 'd', 'r'}

In [74]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [75]:
a & b                              # letters in both a and b

{'a', 'c'}

In [76]:
a ^ b                              # letters in a or b but not both (!= a & B)

{'b', 'd', 'l', 'm', 'r', 'z'}

### Tuples ---> Not immutable

In [77]:
#Tuples ---> Not immutable
city = ('Delhi1','Mumbai','Chennai','Kolkatta','Delhi1','Delhi','Mumbai')

In [78]:
city[0]

'Delhi1'

In [115]:
city[0]='Bangalore' #error will be thrown as value cant be set to tuple

TypeError: 'tuple' object does not support item assignment

In [80]:
print(type(city))

<class 'tuple'>

In [81]:
##Inbuilt functions
city.count('Delhi')

1

In [82]:
city.index('Delhi')

5

#### Detailed video on Sets and tuples
https://www.youtube.com/watch?v=esYAuRx4jbE

## Comparision operaters (Boolean)

In [83]:
# == , > , <, in , not in

In [84]:
2 == 2

True

In [85]:
3 == 8

False

In [86]:
"Manali" == "Manali"

True

In [87]:
5 < 8

True

In [88]:
"B" not in "Manali"

True

### If else

In [89]:
number1 = 25
number2 = 20
if number1> number2:
    print('number1 is higher')
else:
    print('number2 is higher')

number1 is higher

In [90]:
# using elif along with if else
brother_age= input('Enter brothers age -')
sister_age= input('Enter sisters age - ')
if brother_age > sister_age:
    print('Brother is elder')
elif brother_age == sister_age:
    print('Twins')
else:
    print('Sister is elder')

Enter brothers age - 15
Enter sisters age -  20

Sister is elder

#### Check detailed video with explainition below
https://www.youtube.com/watch?v=FJtiE8LX5cs

### for loop

In [91]:
a = ['Red','Green','Yellow','Purple']

In [92]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

Red
Green
Yellow
Purple

In [93]:
for elements1 in a:
    print(elements1)

Red
Green
Yellow
Purple

In [94]:
b = list(range(1, 6))
for i in b:
    print(i)

1
2
3
4
5

In [95]:
total = 0
c = list(range(1, 5))
for i in c:
    total = total + i # 0 + 1 = 1, 1 + 2 = 3
print(total)

10

In [96]:
total1=0
d = list(range(1, 11))
for i in d:
    if i % 5==0:
        print(i)
        total1 = total1 +  i 
print(total1)

5
10
15

In [97]:
10 % 5

0

#### See Detailed video on for loop below
https://www.youtube.com/watch?v=_g-qax3rkGs

### while loops

In [98]:
a = 0
while a < 6: #0 < 10 ----->True #0,1,2,..9
    print(a)
    a = a + 1

0
1
2
3
4
5

In [99]:
#addition in while loop
b = 0
total_val=0
while b < 5:#--------------------> 0,1,2,3,4(True)-----,5==5(False),6<5(False)
    print(b)
    total_val = total_val + b
    b = b + 1
print(total_val)

0
1
2
3
4
10

In [100]:
c = 0
while c < 5:#condition--=-------->True-----> If-------->Value of (0,1,2,3,4,) ----a---b--c------a---b--c--a---b--c--a---b--c--a---b--c|False)
    if c > 3: # 0 > 3-----False,False,False,False,True
        print("Greater than 3")
    else:
        print("smaller than 3")
    c = c + 1 # c += 1

smaller than 3
smaller than 3
smaller than 3
smaller than 3
Greater than 3

#### Check detailed video on while loop below
https://www.youtube.com/watch?v=D8Pvhndt-F4

### Functions

In [101]:
def function1():
    print('This is first line')
    print('This is the second line')
    
print('Outside the function')

Outside the function

In [102]:
function1()

This is first line
This is the second line

In [103]:
def add(x):
    print(x + 2)

In [104]:
add(4)

6

In [105]:
def mult(a):
    return(a* 3)

In [106]:
var1 = mult(2)
print(var1)

6

In [107]:
#average bw two numbers
def average(a, b):
    """This function is taking average bw two numbers, this function doesnt do division"""
    average_v = (a+b)/2
    return(average_v)

In [108]:
average(4, 6)

5.0

In [109]:
print(average.__doc__)

This function is taking average bw two numbers, this function doesnt do division

#### Check detailed video on functions in python and docstrings below
https://www.youtube.com/watch?v=txvI1VYsmrE

### Lambda functions

In [110]:
# lambda (arguments): operation(arguments)
def show_val(a):
    print(a)
show_val(5)

5

In [111]:
show_val = lambda a:print(a)
show_val(6)

6

In [112]:
add=  lambda x, y: x + y
add(4, 2)

6

In [113]:
operate1 = lambda x, y: (x + y, x - y) # x = 6, Y = 3----->(6+3,6-3)--->(9, 3)
x , y = operate1(6, 3)
print(x)
print(y)

9
3

#### Check detailed video on lambda functions below
https://www.youtube.com/watch?v=Dh-xQbtVLzA

### Entire playlist
https://www.youtube.com/watch?v=_e7gsgiQ9Q4&list=PLQOoig4UwLbLxy-zwgbFf9UXzaUiJaXkj

### After You are done with above concepts and video go through below test to check your understanding

https://www.youtube.com/watch?v=rj7kJs0y7YE

##                      Thanks for reading