<!DOCTYPE html>
<html>
<body>
<div align="left">  
<h1>Python Notes for Beginner to start with Python</h1>
 </div>
    <div align="right">     
    <h3>Prepared by Sumerendra saurabh</h3>
</div>
</body>
</html>

### What is Python

##### Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding, make it very attractive for Rapid Application Development, as well as for use as a scripting or glue language to connect existing components together. Python's simple, easy to learn syntax emphasizes readability and therefore reduces the cost of program maintenance. Python supports modules and packages, which encourages program modularity and code reuse. The Python interpreter and the extensive standard library are available in source or binary form without charge for all major platforms, and can be freely distributed.

### Quick start with installation of Python,Miniconda and Jupyter.
1. Go Python page and download latest python version- https://www.python.org/downloads/ 
2. Install miniconda from miniconda website- https://docs.conda.io/en/latest/miniconda.html 
3. After installation is done, Open Miniconda and run
   - pip install jupyterlab # install jupyter lab
   - pip install notebook  # install jupyter note book
4. Once Jupyter notebook/Jupyter-lab is installed You can open your local server by using command-
   - jupyter notebook (for Notebook)
   - jupyter-lab (For Jupyter lab)

#### Detailed Video on the same- https://youtu.be/_e7gsgiQ9Q4

### Data Types in Python
Python has the following data types built-in by default, in these categories:

##### Text Type:	str(string)
##### Numeric Types:	int, float, complex (numbers)
##### Sequence Types:	list, tuple
##### Mapping Type:	dict (Dictionary)
##### Set Types:	set, frozenset
##### Boolean Type:	bool( Returns in True and False)
##### Binary Types:	bytes, bytearray, memoryview

### Python Numbers

##### Python can do mathmatical operations

In [ ]:
a = 3
print(a)

In [ ]:
3 + 3

In [ ]:
8 - 4

In [ ]:
2 * 4 # Multiplication can be done using *

In [ ]:
8 / 4

In [7]:
1/2

0.5

In [ ]:
x = 2
x + 3

In [ ]:
y = 4

In [ ]:
x * 2

In [ ]:
x/4

In [ ]:
x-1

In [ ]:
x + y

In [ ]:
y-x

### print() in Python

In [9]:
print("Hello world")

Hello world

In [10]:
print(5)

5

### Python variables

#### variables are container which can be declared and a value can be assigned

In [8]:
a = 15 # a is variable(Container) which has assigned value of 15
b = 10
c = (a + b) # c is variable(Container) which has assigned value of (a + b)
print(c)

25

In [11]:
s = "Sample value" # s is variable where a string is stored
print(s)

Sample value

### String

#### A string in Python is a sequence of characters. It is a derived data type. Strings are immutable. This means that once defined, they cannot be changed. Many Python methods, such as replace() , join() , or split() modify strings.

#### To create any string define inside **" "** Or **' '**

In [16]:
a = 'I am learning ' # Used ' ' to define string

In [15]:
print(a)

15

In [17]:
b = "Python" # Used " " to define a string

In [18]:
print('Today ' + a+ b) # You can also print multiple string together Using +

Today I am learning Python

#### Create a number as string, this will help while adding a number to string

In [23]:
a1 = str(3) 
print(a1)

3

In [24]:
type(a1)

str

In [25]:
a2 = 6
a3 = ' add to number'
print(a2 + a3) # You cannot add int and str, you need to need define number as string using str(). Shown in below cell

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
a2 = str(6)
a3 = ' add to number'
print(a2 + a3)

6 add to number

### Type() function 
#### The type() function in Python returns the data type of the object passed to it as an argument.

In [20]:
type('Hello world')

str

In [21]:
type(5)

int

In [22]:
type(5.6)

float

#### Indexing of string starts with 0 and we can also use -1 index for last element.
#### Image below explains

<img src="string_python.PNG">

In [31]:
location ="Manali is beutiful"
location[0:5]  # in given string you can slice with using index ( It exclude last elemnt in range given which is 5th here, only slice 0-4th elemnt)

'Manal'

In [30]:
location[5:-1]

'i is beutifu'

#### lower() and Upper(), changes the case of string

In [37]:
location.lower()

'manali is beutiful'

In [38]:
location.upper()

'MANALI IS BEUTIFUL'

### input() function. 

#### user input from the keyboard can be read using the input() built-in function. The input from the user is read as a string and can be assigned to a variable.

In [32]:
input()

 5

'5'

In [34]:
name = input('Enter the name',)
print(name)

Enter the name Sumer

Sumer

In [35]:
print('Hello '+ name)

Hello Sumer

In [36]:
name = input(' Whats your name?')
favourate_place = input('Enter your favroute location- ')
print(name + ' likes ' + favourate_place)

 Whats your name? Sumer
Enter your favroute location-  Bangalore

Sumer likes Bangalore

### Replace----  replace() method. The first parameter is the word to search, the second parameter specifies the new value.

In [ ]:
sent = "Hello Python"
sent = sent.replace("Hello","Hi")
print(sent)

### Join------ The join(sequence) method joins elements and returns the combined string. The join methods combines every element of the sequence.

In [ ]:
a = str(input('name')) # You can also use input function to take inputs at run
b = "Lastname"
c = "city"
sequence = (a,b,c)
details =" ".join(sequence)
print(details)

### The find() method searches for a query string and returns the character position if found. If the string is not found, it returns -1.

In [ ]:
s = "Python is a great language and I love Python"

index = s.find("great")
print(index)

In [ ]:
index = s.find("Great") # Great is not available so it will retun -1, its compares with case sensitivity
print(index)

### In function

In [ ]:
if 'great' in s:
    print("find function works")

### Split function() If you have a string, you can subdivide it into several strings. The string needs to have at least one separating character, which may be a space. By default the split method will use space as separator. Calling the method will return a list of all the substrings.

In [39]:
sent = "Python is a great language and I love Python"
words = sent.split()
print(words)

['Python', 'is', 'a', 'great', 'language', 'and', 'I', 'love', 'Python']

In [40]:
type(words) # split function change string to list of string

list

#### len() function, Returns the number of items in an object. When the object is a string, the len() function returns the number of characters in the string.

In [41]:
len(sent) # its a string so number characters

44

In [42]:
len(words) # its a list so number elements

9

### random() , random module
#### To create random numbers with Python code you can use the random module

In [43]:
import random #import libs using import <lib name>

# Create a random floating number
print(random.random())

0.6390868174054412

In [44]:
# pick a random number between 0 and 5.
print(random.randrange(0,5))

3

In [45]:
# pick a random floating number between 5 and 10.
print(random.uniform(5,10))

9.197653363229682

**List and Dictionary**

In [ ]:
#list
numbers = [1,2,3,4,5]
numbers[0]

In [ ]:
numbers[4]

In [ ]:
numbers

In [ ]:
numbers.remove(5)
numbers

In [ ]:
numbers.pop()

In [ ]:
numbers.append(4)
numbers

In [ ]:
numbers.reverse()
numbers

In [ ]:
#Dictionaries-- key:value
people = {
    "country":"India",
    "state":"Delhi",
    "Population":50,
    "Population": 100
}
people

In [ ]:
people["Population"]

# Sets
A set is an unordered collection with no duplicate elements.Set objects also support mathematical operations like union, intersection, difference.
Curly braces or the set() function can be used to create sets. 
Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary

In [ ]:
set1 = {1,2,3} # dict {key:value}
print(type(set1))

In [ ]:
fruits = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(fruits)                      # show that duplicates have been removed

In [ ]:
'orange' in fruits                 # fast membership testing

In [ ]:
'mango' in fruits

In [ ]:
a = set('abracadabra')
b = set('alacazam')
a # unique letters in a

In [ ]:
b

In [ ]:
a - b                              # letters in a but not in b

In [ ]:
a | b                              # letters in a or b or both

In [ ]:
a & b                              # letters in both a and b

In [ ]:
a ^ b                              # letters in a or b but not both (!= a & B)

### Tuples ---> Not immutable

In [ ]:
#Tuples ---> Not immutable
city = ('Delhi1','Mumbai','Chennai','Kolkatta','Delhi1','Delhi','Mumbai')

In [ ]:
city[0]

In [ ]:
city[0]='Bangalore'

In [ ]:
print(type(tuple1))

In [ ]:
##Inbuilt functions
city.count('Delhi')

In [ ]:
city.index('Delhi')

## Comparision operaters (Boolean)

In [ ]:
# == , > , <, in , not in

In [ ]:
2 == 2

In [ ]:
3 == 8

In [ ]:
"Manali" == "Manali"

In [ ]:
5 < 8

In [ ]:
"B" not in "Manali"

In [ ]:
#If else

In [ ]:
number1 = 25
number2 = 20
if number1> number2:
    print('number1 is higher')
else:
    print('number2 is higher')

In [ ]:
brother_age= input('Enter brothers age -')
sister_age= input('Enter sisters age - ')
if brother_age > sister_age:
    print('Brother is elder')
elif brother_age == sister_age:
    print('Twins')
else:
    print('Sister is elder')

### for loop

In [ ]:
a = ['Red','Green','Yellow','Purple']

In [ ]:
print(a[0])
print(a[1])
print(a[2])
print(a[3])

In [ ]:
for elements1 in a:
    print(elements1)

In [ ]:
b = list(range(1, 6))
for i in b:
    print(i)

In [ ]:
total = 0
c = list(range(1, 5))
for i in c:
    total = total + i # 0 + 1 = 1, 1 + 2 = 3
print(total)

In [ ]:
total1=0
d = list(range(1, 11))
for i in d:
    if i % 5==0:
        print(i)
        total1 = total1 +  i 
print(total1)

In [ ]:
10 % 5

### while loops

In [ ]:
a = 0
while a < 6: #0 < 10 ----->True #0,1,2,..9
    print(a)
    a = a + 1

In [ ]:
#addition in while loop
b = 0
total_val=0
while b < 5:#--------------------> 0,1,2,3,4(True)-----,5==5(False),6<5(False)
    print(b)
    total_val = total_val + b
    b = b + 1
print(total_val)

In [ ]:
c = 0
while c < 5:#condition--=-------->True-----> If-------->Value of (0,1,2,3,4,) ----a---b--c------a---b--c--a---b--c--a---b--c--a---b--c|False)
    if c > 3: # 0 > 3-----False,False,False,False,True
        print("Greater than 3")
    else:
        print("smaller than 3")
    c = c + 1 # c += 1

### Functions

In [ ]:
def function1():
    print('This is first line')
    print('This is the second line')
    
print('Outside the function')

In [ ]:
function1()

In [ ]:
def add(x):
    print(x + 2)

In [ ]:
add(4)

In [ ]:
def mult(a):
    return(a* 3)

In [ ]:
var1 = mult(2)
print(var1)

In [ ]:
#average bw two numbers
def average(a, b):
    """This function is taking average bw two numbers, this function doesnt do division"""
    average_v = (a+b)/2
    return(average_v)

In [ ]:
average(4, 6)

In [ ]:
print(average.__doc__)

### Lambda functions

In [ ]:
# lambda (arguments): operation(arguments)
def show_val(a):
    print(a)
show_val(5)

In [ ]:
show_val = lambda a:print(a)
show_val(6)

In [ ]:
add=  lambda x, y: x + y
add(4, 2)

In [ ]:
operate1 = lambda x, y: (x + y, x - y) # x = 6, Y = 3----->(6+3,6-3)--->(9, 3)
x , y = operate1(6, 3)
print(x)
print(y)

### **NUMPY and pandas**

#### Numrical Python In Python we have lists that serve the purpose of arrays, but they are slow to process.**

#### NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.**

#### The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.**

#### Pandas allows us to analyze big data and make conclusions based on statistical theories.

#### Pandas can clean messy data sets, and make them readable and relevant.

#### Relevant data is very important in data science.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ser = pd.Series([1,2,4,5,np.nan,9])
ser

In [ ]:
details_dict = {"Name":['suresh','Mukesh','Anil'],
               "Class":[8, 9, 6],
               "car":['Maruti','Honda','Ford']}

In [ ]:
df1 = pd.DataFrame(details_dict)
df1.head()

In [ ]:
df = pd.read_csv("food_items.csv")

In [ ]:
df.head()
df.tail(4)
df.describe()

In [ ]:
df.dtypes

In [ ]:
df.index
df.shape

In [ ]:
df.T

In [ ]:
df.sort_index(axis=1, ascending=False)